.sidebar{
    padding: 20px 10px;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--color); 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    font-size: 15px;
}

.sidebar svg{
    width: 30px;
    height: 30px;
    color: var(--color);
}
.ham{
    margin-left: 15px;
    cursor: pointer;
}
.newchat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(127 , 131 , 134);
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}
.recent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}
.recent:hover{
    background-color: rgb(82 , 85 , 86);
}

.newchat:hover{
    background-color: rgb(82 , 85 , 86);
}